# Main items here from https://github.com/github/gitignore/blob/master/C%2B%2B.gitignore

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# All the compiled objects go in the obj subdir
/obj

# Codeblocks window layout
stm32-vcu.layout

# Linker
linker.map

# executable and bin
stm32_vcu
stm32_vcu.bin
test_vcu

# hex output - only keep for releases
stm32_vcu.hex

# PlatformIO Build and Cache Directories
.pio/
.pioenvs/
.piolibdeps/

# Python Bytecode Files
__pycache__/
*.pyc
*.pyo

# VS Code Configuration Files (if using VS Code)
.vscode/
*.code-workspace

# Environment Files
*.env
*.ini.bak

# PlatformIO Configuration Lock File
platformio.ini.bkp

python

# Logs
*.log

# Temporary Files
*.tmp
*.temp
*.bak
*~

